{% include 'Receitas/partials/head.html' %}

<body>
    {% include 'Receitas/partials/header.html' %}
    {% include 'Receitas/partials/search.html' %}

    <main class="main-content-container">
        <div class="main-content main-content-detail container">
            <div class="receitas receitas-list-item">
                <div class="receitas-cover">
                  <img src="https://via.placeholder.com/1280x720.png/4d86c4" alt="temporaril">
                </div>
                <div class="receita-titlo-container">
                  <h2 class="receita-titlo">Lorem ipsum dolor sit amet consectetur, adipisic.</h2>
                </div>
                <div class="receitas-autor">
                  <span class="autor-item">
                    <i class="fa-solid fa-user"></i>
                    Denis Martins
                  </span>
                  <span class="autor-item">
                    <i class="fa-solid fa-calendar-days"></i>
                    07/05/2022 as 17:27
                  </span>
                  <span class="autor-item">
                    <a href="">
                      <i class="fa-solid fa-layer-group"></i>
                      <span>cafe da manhã</span>
                    </a>
                  </span>
                </div>
                <div class="receitas-content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
                    repellendus! Repellendus ullam placeat reprehenderit culpa libero fuga
                    voluptas architecto tenetur aut! Labore incidunt odit id tenetur optio,
                    impedit explicabo earum!</p>
                </div>
              
                <div class="recipe-meta-container">
                  <div class="recipe-meta recipe-preparation">
                    <h3 class="recipe-meta-title"><i class="fas fa-stopwatch"></i> Preparo</h3>
                    <div class="recipe-meta-text">
                      0 Minutos
                    </div>
                  </div>
                  <div class="recipe-meta recipe-servings">
                    <h3 class="recipe-meta-title"><i class="fas fa-pizza-slice"></i> Porções</h3>
                    <div class="recipe-meta-text">
                      0 Porções
                    </div>
                  </div>
                </div>
        </div>
    </main>

    {% include 'Receitas/partials/footer.html' %}
</body>

</html>